@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<form class="loginPage" asp-controller="Home" asp-action="Login" method="post">
<h2>Login</h2>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="text" id="nickName" class="form-control" asp-for="User"/>
        <label class="form-label" for="nickName">Usuário</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
        <input type="password" id="password" class="form-control" asp-for="Password"/>
        <label class="form-label" for="password">Senha</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
</form>
